body{
    margin:0;
    padding: 0;
    /* background-color:; */
}

.card_Container{
    margin:10px;
    padding: 10px;
    /* height: 300px;    */

}

.Sfbutton{
    /* border: 1px solid red; */
    display: flex;
    gap: 20px;
    align-items: center;
}

.ResCard{
    display: flex;
    flex-wrap: wrap;
    padding: 2% 10%;
}

#card{
    /* border: 1px solid ; */
    border-radius: 8px;
    overflow: hidden;
    /* margin-left: 19px; */
    background:#f0f0f0;
    width: 260px;
    height: 300px;
    /* line-height: 2px; */
    box-shadow: 0 4px 14px rgb(0,0,0,0.1);
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
}

.image >img{
    width: 100%;
    height: 160px;
    object-fit: cover;
    object-position: center;
}

#card:hover{
    transform: scale(0.97);
}

.resDetails{
    padding-left: 5%;
}